h1
{
	text-align: center;
	text-decoration: underline;
}


#jeu
{
	width: 500px;
	height: 500px;
	background-color: #236531;
	border: 3px groove;
	margin: 60px auto;
	padding: 10px;
	border-radius: 15px;
	box-shadow: 6px 6px 6px black;
}


#jeu div
{
	width: 400px;
	margin: auto;
	clear: both;
}

#jeu button
{
	width: 120px;
	height: 120px;
	margin: 6px;
	float: left;
	font-weight: bold;
}

#gameStatus
{
	color: white;
	padding: 20px 15px;
}